@import url('https://fonts.googleapis.com/css2?family=Rubik&family=Tomorrow&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;    
}

body {
    font-size: 100%;
    background: linear-gradient(68.53deg, #3c02b0 58.62% , #682ce0 95.38%);
}

.Cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 28px;
}

.Imagem-Cabecalho {
    height: 24px;
}

.Menu-Cabecalho {
    display: flex;
    gap: 37px;
}

.Topico-Cabecalho {
    font-family: 'Rubik', sans-serif;
    color: #d4eae5;
    font-weight: 400;
    font-size: 19px;
}

.Principal {
    border-top: 0.4px solid #2FE4BC;
    margin-bottom: 48px;
}

.Rodape {
    border-top: 0.4px solid #2FE4BC;
    padding: 32px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Rodape-Divisao-Um {
    padding-top: 10px;
}

.Rodape-Texto {
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #d4eae5;
}

.Rodape-Imagem {
    height: 40px;
    padding-left: 15px;
}

a {
    color:#31D3DC;
}

a:hover {
    color:#26bac2;
}