@import url('https://fonts.googleapis.com/css2?family=Rubik&family=Tomorrow&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;    
}

body {
    font-size: 100%;
    background: linear-gradient(68.15deg, #5E17EB 55.62% , #ad8af2 80.38%);
}

.Cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 28px;
}

.Imagem-Cabecalho {
    height: 24px;
}

.Menu-Cabecalho {
    display: flex;
    gap: 37px;
}

.Topico-Cabecalho {
    font-family: 'Rubik', sans-serif;
    color: #d4eae5;
    font-weight: 400;
    font-size: 19px;
}

.Principal {
    border-top: 0.4px solid #2FE4BC;
    margin-bottom: 48px;
}

.Rodape {
    border-top: 0.4px solid #2FE4BC;
    padding: 32px;
}

.Rodape-Imagem {
    height: 40px;
    display: block;
    margin: 0 auto;
}